<%= form_for(@circle_event) do |f| %>
  <% if @circle_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@circle_event.errors.count, "error") %> prohibited this circle_event from being saved:</h2>

      <ul>
      <% @circle_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :desc %><br>
    <%= f.text_area :desc %>
  </div>
  <div class="field">
    <%= f.label :event_date %><br>
    <%= f.date_select :event_date %>
  </div>
  <div class="field">
    <%= f.label :place %><br>
    <%= f.text_field :place %>
  </div>
  <div class="field">
    <%= f.label :one_phrase %><br>
    <%= f.text_field :one_phrase %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
