
  
<%= form_for([circle,@circle_event]) do |f| %>


  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :desc %><br>
    <%= f.text_area :desc %>
  </div>
  <div class='input-group date'>
    <%= f.text_field :event_date, class: 'datepicker form-control' %>
    <span class="input-group-addon">
      <span class="fa fa-calendar"></span>
    </span>
  </div>
   <div class="field">
    <%= f.label :place %><br>
    <%= f.text_field :place %>
  </div>
   <div class="field">
    <%= f.label :one_phrase %><br>
    <%= f.text_field :one_phrase %>
  </div>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit submit_message %>
  </div>

<% end %>

