
<div class="contents-index clearfix">
	<div class="side">
		<div class="side-top clearfix">
			<% if current_user.circle_users.where(circle_id: params[:circle_id]).exists? %>
				<%= button_to "サークルページ",circle_path(@circle),class: "btn btn-primary circle-link-pri",method: :get %>
				<%= button_to "イベント新規作成",new_circle_circle_event_path(@circle),class: "btn btn-success new-event-link",method: :get %>
			<% else %>
				<%= button_to "サークルページ",circle_path(@circle),class: "btn btn-primary circle-link-pub",method: :get %>
			<% end %>
		</div>
		<!-- /.side-top -->
		<div class="side-contents">
			<% if @circle.image? %>
    	    	<%= image_tag @circle.image.url,class: "circle-image" %></td>
      		<% else %>
            	<%= image_tag "circle_img_dafault_gray.png",class: "circle-image"%>
        	<% end %>
	        <p class="circle-name"><%= @circle.name %></p>
    	    <p class="circle-desc"><%= @circle.desc %></p>
    	    <div class="circle-status clearfix">
        		<p class="circle-user-count"><i class="fa fa-user-plus" aria-hidden="true"></i><%= @circle.circle_members.count %></p>	
        		<% if @circle.circle_liked?(current_user) %>
        			<p class="circle-likes"><a rel="nofollow" data-method="delete" href="/circles/<%= @circle.id %>/circle_likes"><i class="fa fa-thumbs-up" aria-hidden="true"></i><%= @circle.circle_likes.count %></a></p>
        		<% else %>		
        			<p class="circle-likes"><a rel="nofollow" data-method="post" href="/circles/<%= @circle.id %>/circle_likes"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i><%= @circle.circle_likes.count %></a></p>		
				<% end %>
			</div>
			<!-- /.circle-status -->
		</div>
		<!-- /.side-contents  -->
	</div>
	<!-- /.side -->
	<div class="main">
		<div class="circle-events clearfix">
			<% @circle_events.each do |circle_event| %>
				<div class="circle-event clearfix">
					<% if circle_event.image? %>
						<%= image_tag circle_event.image.url,class: "circle-event-image" %>
					<% else %>
						<%= image_tag "circle_img_dafault_gray.png",class: "circle-event-image" %>
					<% end %>
					<div class="circle-event-prof">
						<p>イベント名: <%= link_to circle_event.title ,circle_circle_event_path(@circle,circle_event) %></p>
						<p>概要:<%= circle_event.desc %></p>
					</div>
					<!-- /.circle-event-prof -->
				</div>
				<!-- /.circle-event -->
			<% end %>
		</div>
		<!-- /.circle-events -->
		<div class="pagination">
			<%= paginate @circle_events %>			
		</div>
		<!-- /.paginatino -->
	</div>
	<!-- /.main -->
</div>
<!-- /.contents-index -->



