<p id="notice"><%= notice %></p>

<h1>Listing Circle Events</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Desc</th>
      <th>Event date</th>
      <th>Place</th>
      <th>One phrase</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @circle_events.each do |circle_event| %>
      <tr>
        <td><%= circle_event.title %></td>
        <td><%= circle_event.desc %></td>
        <td><%= circle_event.event_date %></td>
        <td><%= circle_event.place %></td>
        <td><%= circle_event.one_phrase %></td>
        <td><%= link_to 'Show', circle_event %></td>
        <td><%= link_to 'Edit', edit_circle_event_path(circle_event) %></td>
        <td><%= link_to 'Destroy', circle_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Circle event', new_circle_event_path %>
