
<% if @circle_event.author.id == current_user.id %>
	<% if @circle_event.event_pending?(@circle_event).exists?%>
		<p><%= @circle_event.event_pending?(@circle_event).count %>件の承認待ちがあります</p>
		<% @circle_event.event_pending?(@circle_event).each do |ticket| %>
			<p><%= ticket.user.email %> <%= link_to "承認する",approve_circle_event_attend_path(@circle_event.circle,@circle_event,ticket.id),method: :post %>
		<% end %>
    <% else %>
    	<p>現在、参加承認待ちはありません</p>
    <% end %>
<% end %>


<p>主催者: <%= @circle_event.author.email %></p>

<p>イベント名: <%= @circle_event.title %></p>
<p>イベント詳細:<%= @circle_event.desc %></p>
<p>日時:<%= @circle_event.event_date %></p>
<p>場所:<%= @circle_event.place %></p>
<p>主催者からのメッセージ:<%= @circle_event.one_phrase %></p>

<% if @circle_event.ticket_status?(@circle_event,current_user,false).exists? %>
	<p>承認待ち</p>
<% elsif @circle_event.ticket_status?(@circle_event,current_user,true).exists?  %>
	<%= button_to "参加キャンセル",destroy_circle_event_attend_path(@circle_event.circle,@circle_event),method: :delete %>
<% else %>
	<%= button_to "参加",circle_event_attend_path(@circle_event.circle,@circle_event),method: :post %>
<% end %>

<p>参加者一覧</p>
	<% @circle_event.event_participants(@circle_event).each do |ticket| %>
		<p><%= ticket.user.email %></p>
	<% end %>

<% if @circle_event.ticket_status?(@circle_event,current_user,true).exists? %>
	<% @circle_event_talks.each do |talk| %>
		<p><%= talk.body %> :<%= talk.user.email %></p>
	<% end %>

	<%= form_tag(circle_event_talks_path,method: "POST") do %>
		<%= text_field_tag :body %>
		<%= submit_tag "送信" %>
	<% end %>
<% end %>



<% if current_user.circle_users.where(circle_id: params[:circle_id]).exists? %>
	<%= link_to "イベント編集",edit_circle_circle_event_path(@circle,@circle_event) %>
	<%= link_to "イベント削除",circle_circle_event_path(@circle,@circle_event),method: :delete %>
<% end %>
<%= link_to "イベント一覧に戻る",circle_circle_events_path %>