<div class="form-wrapper">

  <h2>ログイン</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, autofocus: true,placeholder: :email %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "off",placeholder: "パスワード" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me,class: "checkbox" %>
        <%= f.label :remember_me,"パスワードを記憶する",class: :remember %>
      </div>
    <% end -%>

    <div class="actions button-panel">
      <%= f.submit "ログイン",class: "button" %>
    </div>
    <% end %>

  <div class="form-footer">
    <%= render "devise/shared/links" %>
  </div>

</div>