<%= form_for(@circle) do |f| %>
  <% if @circle.errors.any? %>
    <div id="error_explanation">
      <h2><%= @circle.errors[:base].count %> 件のエラーがあります。</h2>

      <ul>
      <% @circle.errors[:base].each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group" >
    <%= f.label :name,"サークル名",class: "control-label" %>
    <%= f.text_field :name,class: "form-control",placeholder: "サークル名" %>
  </div>
  <div class="field">
    <%= f.label :image,"サークル画像" %>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :desc,"サークル概要" %>
    <%= f.text_area :desc,class: "form-control",rows: "3",placeholder: "サークル概要" %>
  </div>
  <div class="actions">
    <%= f.submit submit_message%>
  </div>
<% end %>
