
<div class="contents clearfix">
  <div class="side">
    <div class="side-top">
      <h2>サークル一覧</h2>
    </div>
    <%= search_form_for @q do |f| %>
      <%= f.search_field :name_or_desc_cont %>

      <%= f.submit %>
    <% end %>
  </div>
  <!-- /.side -->
  <div class="main clearfix">
    <div class="circles-list clearfix">
      <% @circles.each do |circle| %>
        <div class="circle">
          <% if circle.image? %>
            <%= image_tag circle.image.url,class: "circle-image" %></td>
          <% else %>
            <%= image_tag "circle_img_dafault_gray.png",class: "circle-image"%>
          <% end %>
          <p><%= circle.name %></p>
          <p><%= circle.desc %></p>
          <p><%= link_to 'もっとみる', circle_path(circle) %></p>
        </div>
      <% end %>
      <%= paginate @circles %>
    </div>
    <!-- /.circles -->
  </div>
  <!-- /.main -->
</div>
<!-- /.contents -->


<%= link_to 'サークルを作る', new_circle_path %>

