<!DOCTYPE html>
<html>
<head>
  <title>Spotch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
<header>
  <nav>
    
    <% if user_signed_in? %> 
        <%= current_user.email %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
        <%= link_to "サインイン", new_user_registration_path %> |
        <%= link_to "ログイン", new_user_session_path %>
    <% end %>
  </nav>
</header>
<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == "notice" ? "success" : "danger" %>">
    <a class="close" data-dismiss="alert">×</a> <!-- アラートダイアログに×ボタンをつける -->
    <%= msg %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
